// Theme Setting

// Colors

$white: white;

$backgroundColor: #EFEFEF;
$lightBackgroundColor: #FFFFFF;

$darkFontColor: lighten(black, 15%);
$lightFontColor: lighten($darkFontColor, 25%);
$exLightFontColor: lighten($darkFontColor, 60%);
$articleTitleFontLight: $white;

$linkColor: darken(#7FCDEE, 35%);
$codeBackgroundColor: lighten($exLightFontColor, 15%);
