{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" "posts") }}
  {{ range $paginator.Pages }}
    {{ partial "excerpt.html" . }}
  {{ end }}
  <nav id="pagination" class="pagination">
    {{/* template "_internal/pagination.html" . */}}
    {{ if eq $paginator.HasPrev true }}
      <a href="{{ $paginator.Prev.URL }}" class="text-left pagination__prev">Prev</a>
    {{ end }}
    {{ if eq $paginator.HasNext true }}
      <a href="{{ $paginator.Next.URL }}" class="text-right pagination__next">Next</a>
    {{ end }}
  </nav>
{{ end }}
