<% if (page.comments) { %>
<section id="comment" class="comment-box">
  <h1 class="comment-box__title"><%= __('comment') %></h1>

  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a rel="nofollow" href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript></noscript>
  </div>
</section>
<%  } %>
