
<h1 id="sitename">
  <a href="<%- url_for('/') %>" class="hide-text logo--icon align-center">
  <%= config.title %>
  </a>
</h1>

<aside id="slogan" class="slogan align-center text-center">
  <h1 class="slogan__title"><%= theme.slogan.title %></h1>
  <p class="slogan__description"><%= theme.slogan.description %></p>
</aside>
