<article class="post article is-index" role="article">
  <header class="article__header">
    <time datetime="{{ dateFormat "2006-01-02T15:04:05-0700" .PublishDate }}" class="article__time--header">
      {{ dateFormat "Jan.02" .Date  }}
    </time>
    <h3 class="article__title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
  </header>
  <div class="article__entry is-index">
    {{ .Summary }}
    <footer class="article__footer">
      <div class="text-left">
        <a href="{{ .Permalink }}#more" class="article__more-link">{{ i18n "readMore" }}</a>
      </div>
    </footer>
  </div>
</article>
