// Header Layout

#header {
  padding-top: 50px;
  padding-top: 3.125rem;
}

#sitename {
}

@include block("logo") {

  @include modifier("icon") {
    display: block;

    // Fixed ICON Size
    width: 128px;
    height: 128px;

    @include at2x('/img/logo', png, 128px, 128px);
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
  }

}
